<center>
<h1>Here are the results:</h1>

<% @questions.each do |q| %>
<h3><%= q.question_text.html_safe %></h3>
<p>Correct Answer: <%= q.correct_answer.html_safe %></p>
<% end %>
<br>

<% if session[:user_id] == @quiz.challenge.user_id  %>

  <h2>You got: <%= @quiz.user_score %> points</h2><br>
  <% if @quiz.rival_score %>
    <% if @quiz.user_score > @quiz.rival_score %>
      <strong><%= "🙌 Congratulations! You beat #{@rival.username} #{@quiz.user_score} to #{@quiz.rival_score}. 🙌" %></strong>
    <% elsif @quiz.user_score < @quiz.rival_score %>
      <strong><%= "😤 Maybe next time... #{@rival.username} beat you #{@quiz.rival_score} to #{@quiz.user_score}. 😤" %></strong>
    <% else %>
      <strong><%= "😒 You tied #{@rival.username} with #{@quiz.user_score} points. 😒" %></strong>
    <% end %>
  <% else %>
    <strong><%= "🙄 Just waiting for #{@rival.username} to take the quiz... 🙄" %></strong>
  <% end %>

<% else %>

  <h2>You got: <%= @quiz.rival_score %> points</h2><br>
  <% if @quiz.user_score %>
    <% if @quiz.rival_score > @quiz.user_score %>
      <strong><%= " 🙌 Congratulations! You beat #{@user.username} #{@quiz.rival_score} to #{@quiz.user_score}. 🙌" %></strong>
    <% elsif @quiz.rival_score < @quiz.user_score %>
      <strong><%= "😤 Maybe next time... #{@user.username} beat you #{@quiz.user_score} to #{@quiz.rival_score}. 😤" %></strong>
    <% else %>
      <strong><%= "😒 You tied #{@user.username} with #{@quiz.rival_score} points. 😒" %></strong>
    <% end %>
  <% else %>
    <strong><%= "🙄 Just waiting for #{@user.username} to take the quiz... 🙄" %></strong>
  <% end %>
<% end %>

<br>
<h3><%= link_to 'Return To Main Menu', user_path %></h3>
