<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2>Here are the questions: </h2>

    <form class="ui form" action="/result" method="POST">
      <div class="grouped fields">
        <h3><label><%= @question1.question_text.html_safe %>:</label></h3>
          <% @question1.random_answers.each do |a| %>
              <p><input type="radio" name=questions[]["user_answer"]> <label> <%= a.html_safe %></label></p>
        <% end %>
      </div>
    <br>

    <div class="grouped fields">
      <h3><label><%= @question2.question_text.html_safe %>:</label></h3>
        <% @question2.random_answers.each do |a| %>
            <p><input type="radio" name=questions[1]["user_answer"]> <label> <%= a.html_safe %></label></p>
      <% end %>
    </div>
  <br>

  <div class="grouped fields">
    <h3><label><%= @question3.question_text.html_safe %>:</label></h3>
      <% @question3.random_answers.each do |a| %>
          <p><input type="radio" name=questions[2]["user_answer"]> <label> <%= a.html_safe %></label></p>
    <% end %>
  </div>
<br>

<div class="grouped fields">
  <h3><label><%= @question4.question_text.html_safe %>:</label></h3>
    <% @question4.random_answers.each do |a| %>
        <p><input type="radio" name=questions[3]["user_answer"]> <label> <%= a.html_safe %></label></p>
  <% end %>
</div>
<br>

<div class="grouped fields">
  <h3><label><%= @question5.question_text.html_safe %>:</label></h3>
    <% @question5.random_answers.each do |a| %>
        <p><input type="radio" name=questions[4]["user_answer"]> <label> <%= a.html_safe %></label></p>
  <% end %>
</div>
<br>




    <button class="ui button" type="submit">Submit</button>


    </form>
  </body>
</html>
