<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2>Here are the questions: </h2>
    <% @question1 = @quiz.questions[0] %>
    <% @question2 = @quiz.questions[1] %>
    <% @question3 = @quiz.questions[2] %>
    <% @question4 = @quiz.questions[3] %>
    <% @question5 = @quiz.questions[4] %>

    <form class="ui form" action="/users/<%= session[:user_id] %>/quizzes/<%= @quiz.id %>/result" method="POST">
      <div class="grouped fields">
        <h3><label><%= @question1.question_text.html_safe %>:</label></h3>
          <% @question1.random_answers.each do |a| %>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <p><input type="radio" name=questions[1] value="<%= a %>"> <label> <%= a.html_safe %></label></p>
        <% end %>
      </div>
    <br>

    <div class="grouped fields">
      <h3><label><%= @question2.question_text.html_safe %>:</label></h3>
        <% @question2.random_answers.each do |a| %>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <p><input type="radio" name=questions[2] value="<%= a %>"> <label> <%= a.html_safe %></label></p>
      <% end %>
    </div>
  <br>

  <div class="grouped fields">
    <h3><label><%= @question3.question_text.html_safe %>:</label></h3>
      <% @question3.random_answers.each do |a| %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <p><input type="radio" name=questions[3] value="<%= a %>"> <label> <%= a.html_safe %></label></p>
    <% end %>
  </div>
<br>

<div class="grouped fields">
  <h3><label><%= @question4.question_text.html_safe %>:</label></h3>
    <% @question4.random_answers.each do |a| %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <p><input type="radio" name=questions[4] value="<%= a %>"> <label> <%= a.html_safe %></label></p>
  <% end %>
</div>
<br>

<div class="grouped fields">
  <h3><label><%= @question5.question_text.html_safe %>:</label></h3>
    <% @question5.random_answers.each do |a| %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <p><input type="radio" name=questions[5] value="<%= a %>"> <label> <%= a.html_safe %></label></p>
  <% end %>
</div>
<br>

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<button class="ui button" type="submit">Submit</button>


    </form>
  </body>
</html>
