<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2>Here are the questions: </h2>

    <form class="ui form" action="/result" method="POST">
      <div class="grouped fields">
        <label><%= @question1.question_text.html_safe %>:</label>
          <% @question1.random_answers.each do |a| %>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="questions[]["user_answer"]">
              <label><%= a.html_safe %></label>
            </div>
          </div>
        <% end %>
      </div>
    <br>


      <div class="grouped fields">
        <%= @question2.question_text.html_safe %>:
        <div class="field">
          <% @question2.random_answers.each do |a| %>
          <div class="ui radio checkbox">
            <input type="radio" name=questions[]["user_answer"]>
            <label><%= a.html_safe %></label>
          </div><br>
          <% end %>
        </div>
      </div>
    <br>
      <div class="grouped fields">
        <%= @question3.question_text.html_safe %>:
        <div class="field">
          <% @question3.random_answers.each do |a| %>
          <div class="ui radio checkbox">
            <input type="radio" name=questions[]["user_answer"]>
            <label><%= a.html_safe %></label>
          </div><br>
          <% end %>
        </div>
      </div>
    <br>
      <div class="grouped fields">
        <%= @question4.question_text.html_safe %>:
        <div class="field">
          <% @question4.random_answers.each do |a| %>
          <div class="ui radio checkbox">
            <input type="radio" name="questions[]["user_answer"]" >
            <label><%= a.html_safe %></label>
          </div><br>
          <% end %>
        </div>
      </div>
    <br>
      <div class="grouped fields">
        <%= @question5.question_text.html_safe %>:
        <div class="field">
          <% @question5.random_answers.each do |a| %>
          <div class="ui radio checkbox">
            <input type="radio" name=questions[]["user_answer"]>
            <label><%= a.html_safe %></label>
          </div><br>
          <% end %>
        </div>
      </div>
    <br>

    <button class="ui button" type="submit">Submit</button>


    </form>
  </body>
</html>
